<nav class="navbar is-dark">
  <div class="navbar-brand">
    <div class="navbar-item">
      <p class="title" style="color: #00D1B2; outline: none;">Recipe</p>
    </div>

    <a role="button" class="navbar-burger burger" [ngClass]="toggle ? 'is-active' : ''" (click)="onShowBurger()" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="toggle ? 'is-active' : ''">
    <div class="navbar-start">
      <a *ngIf="!isAuthenticated" class="navbar-item" (click)="toggle = false" [routerLink]="['auth']">Authentication</a>
      <a *ngIf="isAuthenticated" class="navbar-item" (click)="toggle = false" [routerLink]="['recipes']">Recipes</a>
      <a class="navbar-item" [routerLink]="['shopping']" (click)="toggle = false">Shopping List</a>
    </div>
    <div class="navbar-end">
      <div *ngIf="isAuthenticated" class="navbar-item">
        <button class="button is-danger" type="button" (click)="onSignOut()">Log out</button>
      </div>
      <div *ngIf="isAuthenticated" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Manage</a>

        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="onSaveRecipes()">Save</a>
          <a class="navbar-item" (click)="onFetchRecipes()">Fetch</a>
        </div>
      </div>
    </div>
  </div>
</nav>
