<form (ngSubmit)="onAddItem()" #f="ngForm">
  <div class="columns">
    <div class="column is-5">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input
              #ingredientName="ngModel"
              ngModel
              class="input"
              [class.is-danger]="!ingredientName.valid && ingredientName.touched"
              name="ingredientName"
              type="text"
              placeholder="e.g Potatoes"
              required
          />
        </div>
      </div>
    </div>
    <div class="column is-1">
      <div class="field">
        <label class="label">Quantity</label>
        <div class="control">
          <input
              #ingredientQuantity="ngModel"
              ngModel
              class="input"
              [class.is-danger]="!ingredientQuantity.valid && ingredientQuantity.touched"
              name="ingredientQuantity"
              type="number"
              min="0"
              pattern="^[1-9]+[0-9]*$"
              placeholder="e.g. 1"
              required
          />
        </div>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button
        class="button is-success"
        type="submit"
        [disabled]="!f.valid"
      >{{ editing ? 'Edit' : 'Add' }}</button>
    </div>
    <div class="control">
      <button
        class="button is-danger"
        *ngIf="editing"
        (click)="onDeleteSelectedItem()"
        [disabled]="editingSelected === null"
      >Delete</button>
    </div>
    <div class="control">
      <button
        class="button is-link"
        (click)="onClearInputs()"
      >Clear</button>
    </div>
  </div>
</form>
